#cpu
cpu-type=O3CPU

#memory
mem-size=16GB
mem-type=DDR4_2400_8x8

#branch predictor
bp-type=MultiperspectivePerceptronTAGE64KB

#prefetcher
l1d-hwp-type=StridePrefetcher
l1i-hwp-type=PIFPrefetcher
l2-hwp-type=StridePrefetcher

#caches
caches
l1d_size=48KiB
l1d_assoc=12
l1i_size=32KiB
l1i_assoc=8
l2cache
#1.25MB
l2_size=1280KiB
l2_assoc=20
l3cache
l3_size=3MiB
l3_assoc=12
cacheline_size=64

#speculativeLoadPolicy=Okapi
#threatModel=Spectre
